@import './variables';

html, body {
  font-family: $font-body;
  background: $charcoal-900;
  color: $white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: $radius-xl;
  display: block;
}

button, [role="button"] {
  cursor: pointer;
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
}

a {
  color: $teal-500;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
